<div class="container-fluid">
    <div class="row">
        <div class="col-md-5 col-sm-6 offset-sm-3 col-6 offset-3  box text-truncate"> 
            <div class="row">
            <div class="col-md-6">
            <div class = "getAllIssues">
                <table class="table table-bordered table-hover table-dark ">
                    <caption>{{caption}}</caption>
                    
                            <th (Onclick)="sortOnTitle()" colspan="2" scope="col">Title</th>
                            <th (Onclick)="sortOnStatus()" scope="col">Status</th>
                            <th (Onclick)="sortOnReporter()" scope="col">Reporter</th>
                            <th (Onclick)="sortOnDate()" scope="col">Date</th>
                        
                 </table>

            </div>
        </div>
    </div>
</div>
</div>
