<!--<app-navbar [active]="'error'"></app-navbar>-->
<div class="my-bg">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    
    <a class="navbar-brand" href="index.html">Issue Tracker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item ">
                <a class="nav-link" [routerLink]="['/login']">Login</a>
            </li>
            <li class="nav-item active ">
                <a class="nav-link" [routerLink]="['/signup']">SignUp</a>
            </li>
        </ul>
    </div>
    </nav>
 <!--  
<div class="container-fluid">
    <div class = "row">
       <div class="col-md-6 offset-md-12 col-sm-12 col-10 mx-auto box text-truncate"></div>
           <section id="section1">Welcome to ToDo App</section>

          <section id="section2" class="col-md-3 col-sm-12 text-truncate">Get your reset Token </section>
          <br><hr> 
       
   <form>
            <div class="form-group">
                <label for="email"></label>
                <input type="email" class="form-control" id="email" placeholder="Email" [(ngModel)]="email" name="email"
                    (keydown)="keyPressEvent($event)" autofocus>
            </div>
        

    
   
        <button class="btn btn-info" (click)="resetPassword()">Send</button>
        </form>
    </div>

</div> --> 
<div class="container-fluid">
    <div class="row">
      <div class="col-md-4 offset-md-4 col-sm-6 col-10 mx-auto box text-truncate">
        <section id="section1" style="color: cornsilk; size: 40rem;">  </section>

          <section id="section2" style="color: cornsilk; font-size: large; text-size-adjust: 90px; font-style: italic; font-weight: bolder;" class="col-md-6 col-sm-12 text-truncate">We Are Here To Help </section>
          <br><hr>
          <!--<form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">--> 
       
            <div class="form-group">
                <label for="email"></label>
                <input type="email" class="form-control" id="email" placeholder="Please Enter Your Email Address" [(ngModel)]="email" name="email"
                    (keydown)="keyPressEvent($event)" autofocus>
                    
            </div>
                       

            <button class="btn btn-outline-primary btn-block" (click)="resetPasswordFunction()">Send</button>
            <br><br>
           
            <!--<button type="button" class="btn btn-secondary" [routerLink]="['/login']">Login instead</button>-->
          
      </div>


    </div>
</div>







