<div class="card-footer text-center">
    <div class="col-md-12 control">
      <h1> <span style="color:darkred; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">Oops! </span> Page Not Found </h1>
        <br>
        <h1> <span style="color:chocolate; font-family: cursive;">Sorry Page You Are Looking For is Not Available</span></h1>
        <button type="button" class="btn btn-outline-primary btn-block" (click)="redirect()">
          <br>
          <br>  
          Click me to go Back
          </button>
   </div>
   </div>