    <div class="bg-info">
   <div class="card-footer text-center">
    <div class="row justify-content-center mt-5">
        
    <div class="col-md-12 control">
        <h1 id="error500" class="text-danger">ERROR 500</h1>
      <h1> <span style="color:rgb(99, 8, 8)">Sorry </span> We are out of gravity  </h1>
        <br>
        <button type="button" class="btn btn-outline-primary btn-block" (click)="redirect()">
          <br>
          <br>  
          <span style = "color:rgb(99, 8, 8)"> Click me to go Back</span>
          
          </button>
          
          </div>
          </div>
        </div>
    </div>
         
