<div class="my-bg">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">

        <a class="navbar-brand" href="index.html">Issue Tracker</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item ">
                    <a class="nav-link" href="index.html">Home</a>
                </li>
                <li class="nav-item active ">
                    <a class="nav-link" [routerLink]="['/create']">Create</a>
                </li>
            </ul>
        </div>
        </nav>
<div class="container-fluid">
    <div class="row ">
        <!-- column-1 -->
        <div class="col-md-6">
            <h3 class="text" style="font-family: cursive; color: blanchedalmond; text-emphasis: position;">Issue Detail</h3>
            <div *ngIf="issueDetail" class="border p-1 bg-secondary rounded text-white">
                <div class="row">
                    <cite class=text style="font-family: cursive; color: blanchedalmond; text-emphasis: position;">Title : </cite>
                    <p class="ml-1">{{issueDetail?.title}}</p>
                </div>
                <div class="row">
                    <cite class="text" style="font-family: cursive; color: blanchedalmond; text-emphasis: position;">Status : </cite>
                    <p class="ml-1">{{issueDetail?.status}}</p>
                </div>
                <div class="row ">
                    <cite class="text" style="font-family: cursive; color: blanchedalmond; text-emphasis: position;">Description : </cite>
                    <p class="ml-1" [innerHtml]="issueDetail.description" class="text-justify"></p>
                </div>
                <div class="row ">

                    <select class="rounded bg-secondary text-white">
                        <option selected disabled>Assignees</option>
                        <option *ngFor="let assign of assignee"  disabled>{{assign.assigneeName}}
                        </option>
                    </select>
                    
                </div>
                <div class="row text-justify">

                    <select class="rounded bg-secondary text-white">
                        <option selected disabled>Watchers</option>
                        <option *ngFor="let watcher of watchers" class="bg-white" disabled>{{watcher.watcherName}}
                        </option>
                    </select>

                </div>
                <div class="row  text-justify">
                    <cite class="font-weight-light">Reporter : </cite>
                    <p class="ml-1">{{issueDetail?.reporter.reporterName}}</p>
                </div>
                <div class="row text-justify">
                    <cite class="font-weight-light">ReportedOn : </cite>
                    <p class="ml-1">{{issueDetail?.createdOn |date}}</p>
                </div>
                <div class="row no-gutters justify-content-between">
                    <button class="btn btn-dark text-white" (click)="navigateBack()">Back</button>
                    <button *ngIf="issueDetail.watchingStatus==='watch'" class="btn btn-primary text-white" (click)="watchIssue()">Watch</button>
                    <button *ngIf="issueDetail.watchingStatus==='watching'" class="btn btn-success text-white">Watching</button>
                    <button class="btn btn-primary text-white"
                        [routerLink]="['/issue',issueDetail.issueId,'edit']">Edit</button>
                </div>


            </div>


        </div>
        <!-- end of column-1 -->

        <!-- column-2 -->
        <div class="col-md-4 offset-md-2 mt-3">
            <div class="form-group ">
                <label for="comments">Comment</label>
                <input type="text" id="comments" class="form-control" placeholder="comment..."
                    (keydown)="addCommentByKeyPress($event)" [(ngModel)]="newComment" name="newComment">
            </div>
            <div *ngIf="comments.length>0" id="list-comment" class="border border-secondary rounded mb-1">
                <ul class="list-group " *ngFor="let comment of comments">
                    <li class="list-group-item text-justify text-info">
                        {{comment.comment}}<br>
                        <small class="d-block text-right text-muted">{{comment.commenterName}}</small>
                    </li>
                </ul>
            </div>
            <div *ngIf="comments.length===0">
                <p class="text-muted">Comments not added</p>
            </div>
        </div>
    </div>
</div>
